<a href="https://colab.research.google.com/github/Barissdal/SparkwithColab/blob/main/Spark_Denemeler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
!sudo apt update

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Hit:4 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Get:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Hit:7 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:8 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:9 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Get:10 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1,058 kB]
Hit:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Get:12 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,354 kB]
Hit:13 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Fetched 2,748 kB in 2s (1,441 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
48 packages can be upgraded. Run 'apt list --upgradable' to see them.

In [27]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [29]:
!wget -q http://apache.osuosl.org/spark/spark-3.4.0/spark-3.4.0-bin-hadoop3.tgz

In [30]:
!tar xf spark-3.4.0-bin-hadoop3.tgz

In [31]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [32]:
SPARK_VERSION = '3.4.0'

In [33]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.0-bin-hadoop3"
os.environ["SPARK_VERSION"] = '3.4.0'

In [34]:
!python -m pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [35]:
import findspark
findspark.init()

In [36]:
findspark.find()

'/content/spark-3.4.0-bin-hadoop3'

In [37]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('rev').getOrCreate()
employee = [("Radhika",10), 
        ("Kaavya",20), 
        ("Varnika",30), 
        ("Akshay",40) 
      ]
rdd = spark.sparkContext.parallelize(employee)

In [38]:
dataframee = rdd.toDF()
dataframee.printSchema()
dataframee.show()

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

+-------+---+
|     _1| _2|
+-------+---+
|Radhika| 10|
| Kaavya| 20|
|Varnika| 30|
| Akshay| 40|
+-------+---+

In [16]:
emp_columns = ["emp_name","emp_id"]
df = rdd.toDF(emp_columns)
df.printSchema()
df.show(truncate=False)

root
 |-- emp_name: string (nullable = true)
 |-- emp_id: long (nullable = true)

+--------+------+
|emp_name|emp_id|
+--------+------+
|Radhika |10    |
|Kaavya  |20    |
|Varnika |30    |
|Akshay  |40    |
+--------+------+

In [17]:
from pyspark.sql.types import StructType,StructField, StringType
empSchema = StructType([       
    StructField('emp_name', StringType(), True),
    StructField('emp_id', StringType(), True)
])

employee_df = spark.createDataFrame(data=employee, schema = empSchema)
employee_df.printSchema()
employee_df.show(truncate=False)

root
 |-- emp_name: string (nullable = true)
 |-- emp_id: string (nullable = true)

+--------+------+
|emp_name|emp_id|
+--------+------+
|Radhika |10    |
|Kaavya  |20    |
|Varnika |30    |
|Akshay  |40    |
+--------+------+

In [18]:
employee_df.groupBy('emp_name').count().show()

+--------+-----+
|emp_name|count|
+--------+-----+
|  Kaavya|    1|
| Radhika|    1|
| Varnika|    1|
|  Akshay|    1|
+--------+-----+

What Hadoop gives Spark?


1.   YARN resource manager
2.   DFS
3.   Disaster Recovery capabilities
4.   Data Security
5.   A distributed data platform
6.   Leverage existing clusters
7.   Data locality
8.   Manage workloads using advanced policies
    *   Allocate shares to different teams and users
    *   Hierarchical queues
    *   Queue placement policies

9.   Take advantage of Hadoop's security
    *   Run on Kerberized clusters

Data Frames in Spark


*   Unlike an RDD, data is organized into named columns.
*   Allowing Spark to manage the schema and only pass data between nodes, in a much more efficient way than using Java serialization
*   Data is stored in off-heap memory in binary format
*   NO Garbage collection is involved
*   Query optimization plan
*   Catalyst Query optimizer

Spark SQL


*   Spark SQL is a Spark module for structured data processing

*   Connect to any data source the sae way (Hive, Avro, Parquet, ORC, JSON and JDBC etc.)

*   Run SQL or HiveQL queries on existing warehouses

*   JDBC and ODBC connectivity for business intelligence tools
*   There is no reduction in the performance

#Example 1: Spark SQL

In [39]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [40]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [41]:
spark = SparkSession.builder.config("spark.some.config.option","some-value").getOrCreate()

In [42]:
df = spark.read.json('/content/drive/MyDrive/resource/people.json')

In [43]:
df

DataFrame[age: bigint, name: string]

In [44]:
df.head(4)

[Row(age=None, name='Michael'),
 Row(age=30, name='Andy'),
 Row(age=19, name='Justin')]

In [45]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [46]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [47]:
df.select("name").show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [48]:
df.select(df['name'], df['age'] + 1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [50]:
df2 = df.select(df['name'], df['age'] + 1)

In [51]:
df2

DataFrame[name: string, (age + 1): bigint]

In [52]:
df2.show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [53]:
df.filter(df['age'] > 18).show()

+---+------+
|age|  name|
+---+------+
| 30|  Andy|
| 19|Justin|
+---+------+

In [54]:
df.groupBy('age').count().show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  30|    1|
+----+-----+

Register the DF as a SQL temp

In [55]:
df.createOrReplaceTempView("people")

In [56]:
sqlDF = spark.sql("SELECT * FROM people")

In [57]:
sqlDF

DataFrame[age: bigint, name: string]

In [58]:
sqlDF.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [59]:
spark.sql("SELECT * FROM people WHERE age > 18").show()

+---+------+
|age|  name|
+---+------+
| 30|  Andy|
| 19|Justin|
+---+------+

In [60]:
spark.stop()